.container {
  @include flex-center;
  position: relative;
  height: 100vh;
  padding: 24px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.progress {
    position: absolute;
    width: calc(100% - 48px);
    left: 24px;
    top: 0;
    height: 4px;
    background: rgba(67, 120, 255, 0.1);
    border-radius: 4px;
}

.status {
    height: 100%;
    border-radius: 4px;
    background-color: $primary;
}