.header {
  @include flex-layout;
  padding: 24px 16px 0;
  width: 100%;
  gap: 4px;
  margin-bottom: auto;
}

.wallet {
  @include flex-center;
  margin-left: auto;
  gap: 10px;
  border-radius: 48px;
  padding: 8px 16px;
  background: #1c2744;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.01em;
  transition: all 0.1s linear;

  &:active {
    scale: 0.9;
  }
}

.button {
  @include flex-center;
  padding: 8px;
  border-radius: 50%;
  background: #1c2744;
  border: none;
  height: 36px;
  width: 36px;
  transition: all 0.1s linear;

  &:active {
    scale: 0.9;
  }
}

.title {
  font-weight: 600;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: 0.01em;
  text-align: center;
}

.canvas {
  border-radius: 16px;
  position: relative;
  width: 202px;
  height: 202px;
  @include border-gradient;
  margin: 35px auto;

  canvas {
    border-radius: 16px;
    margin: 1px;
  }
}

.id {
  @include flex-center;
  gap: 16px;
  background-color: #1f2d50;
  padding: 13px 16px;
  border-radius: 16px;
  position: relative;
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  transition: all 0.1s linear;
  @include border-gradient;

  &:active {
    scale: 0.95;
  }
}

.toast-button {
  @include primary-button;
  margin-top: 35px;
  width: 100%;
}
