.container {
  @include flex-layout(flex-start, center);
}

.image {
  border-radius: 50%;
  display: block;
  aspect-ratio: 1 / 1;
}

.id {
  font-weight: 500;
  background: linear-gradient(90deg, #007aff 0%, #aad3ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;

  &.with-icon {
    @include flex-layout(flex-start, center);
    gap: 4px;

    &::after {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-image: url("/images/copy.svg");
    }
  }
}

.name {
  @include text-overflow(1);
  letter-spacing: 0.01em;
  font-weight: 600;
}

.row {
  gap: 4px;

  .image {
    width: 40px;
  }

  .name {
    font-size: 14px;
    margin: 0 0 4px;
  }

  .id {
    font-size: 10px;
    letter-spacing: 0.02em;
  }
}

.column {
  flex-direction: column;
  gap: 14px;

  .image {
    width: 96px;
    height: 96px;
  }

  .name {
    font-size: 24px;
    line-height: 175%;
    text-align: center;
    margin: 0;
  }

  .id {
    font-size: 14px;
    letter-spacing: 0.01em;
    text-align: center;
  }
}
