.container {
  @include flex-layout(flex-start, center);
}

.image {
  background-color: aqua;
  border-radius: 50%;
  display: block;
  aspect-ratio: 1 / 1;
}

.name {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #fff;
  font-weight: 600;
  margin: 0 0 4px;
}

.id {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.02em;
  background: linear-gradient(90deg, #007aff 0%, #aad3ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.row {
  gap: 12px;

  .image {
    width: 40px;
  }
}
