.love {
  aspect-ratio: 1 /1;
  width: 100%;
  margin: 0 auto;
}

.button {
  @include primary-button;

  &.disabled {
    @include primary-disabled-button;
  }
}

.balance {
  margin-top: 20px;
  display: block;
}

.speed {
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.01em;
  text-align: center;
  color: $primary;
  margin: 14px 0 16px;
}

.list {
  padding: 0;
  margin: 20px 0;
}

.upgrade {
  @include flex-layout;
  gap: 8px;
  background-color: #171d32;
  padding: 30px 14px;
  border-radius: 16px;
  flex: 1;
  position: relative;
  @include border-gradient;

  &:not(:first-child) {
    margin-top: 14px;
  }

  .info {
    flex: 1;
  }

  .title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.01em;
    margin: 0;
  }

  .price {
    margin: 4px 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }

  .text {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $primary;
  }

  .button {
    width: 115px;
    font-size: 14px;
    padding: 8px;
    margin: 14px 0;
  }

  .amount {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.01em;
  }
}

.toast {
  @include flex-column;
  align-items: center;

  .title {
    margin: 16px 0 10px;
  }

  .description {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #a2acb0;
    max-width: 270px;
  }

  .text {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 10px 0;
  }

  .speed {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;
    color: $primary;
    margin: 0;
  }

  .price {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0em;
    background: linear-gradient(49deg, #007aff 0%, #93c6ff 56%, #007aff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 16px 0 8px;
  }

  .button {
    width: 100%;

    &.loading {
      @include loader-button;
    }
  }
}
