@mixin button {
  border-radius: 8px;
  padding: 12px;
  border: none;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-decoration-line: none;
  text-align: center;
}

@mixin primary-button {
  @include button;
  background: $primary;
  color: #fff;
  font-size: 17px;
  line-height: 150%;
}

@mixin primary-disabled-button {
  background: rgba(67, 120, 255, 0.1);
  color: $primary;
  pointer-events: none;
}
