@mixin flex-layout($justify: flex-start, $align: flex-start) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-center {
  @include flex-layout(center, center);
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
