.page {
  @include flex-column;
  padding: 24px 16px 160px;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

h1.title {
  font-weight: 600;
  font-size: 24px;
  background: linear-gradient(49deg, #007aff 0%, #93c6ff 56%, #007aff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 0 0 8px;
}

h2.title {
  @include h2;
  margin: 28px 8px 18px;
}

.hint {
  margin: 0 0 38px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  text-align: center;
  color: $hint;
}

.invite {
  @include flex-layout(flex-start, stretch);
  width: 100%;
  gap: 8px;

  &-wrapper {
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 100%;
    padding: 16px;
  }

  &-button {
    flex: 1;
    @include primary-button;

    &:active {
      transform: scale(0.9);
    }
  }
}

.copy {
  width: 50px;
  height: 50px;
  transition: all 0.1s ease-in-out;
  @include flex-center;
  @include primary-button;

  &:active {
    transform: scale(0.9);
  }
}

.photo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.counter {
  @include flex-center;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.01em;
}
