.page {
  @include flex-column;
  padding: 14px 16px 100px;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.preview {
  max-width: 250px;
  margin-inline: auto;
}

.title {
  @include h2;
}

h1.title {
  margin-bottom: 32px;
  margin: 28px 0 8px;
  text-align: center;
}

h2.title {
  margin: 20px 8px 16px;
}

.text {
  max-width: 185px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #a2acb0;
  line-height: 1.2;
}

.spin {
  margin: 24px 8px 0;
  @include primary-button;

  &.disabled {
    @include primary-disabled-button;
  }
}

.mission {
  svg {
    width: 20px;
    height: 20px;
  }

  &:not(.active) {
    path {
      fill: #a2acb0;
    }
  }

  &.active {
    order: 2;
  }
}

.toast {
  @include flex-column;
  align-items: center;

  &-icon {
    @include flex-center;
    background-image: url("/images/hexagon.png");
    width: 83px;
    height: 78px;
  }

  &-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 16px 0;
  }

  &-text {
    font-weight: 600;
    font-size: 24px;
    background: linear-gradient(49deg, #007aff 0%, #93c6ff 56%, #007aff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  }

  &-button {
    width: 100%;
    margin-top: 8px;
    @include primary-button;

    &.loading {
      @include loader-button;
    }

    &.disabled {
      @include primary-disabled-button;
    }
  }
}
