.container {
  @include flex-column;
  min-height: 100vh;
  padding-bottom: 100px;
}

.header {
  @include flex-layout;
  padding: 24px 16px 20px;
  width: 100%;
  gap: 14px;

  .buttons {
    @include flex-layout(flex-end, stretch);
    margin-left: auto;
    border-radius: 44px;
    padding: 2px;
    width: 198px;
    height: 40px;
    background: $section;
    position: relative;
  }

  .button {
    @include flex-center;
    flex: 1;
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    padding: 0;
    position: relative;
    z-index: 2;
  }

  .background {
    position: absolute;
    top: 2px;
    bottom: 2px;
    background: rgba(0, 122, 255, 0.35);
    border: 1px solid $primary;
    border-radius: 40px;
    width: 97px;

    &.mining {
      left: 2px;
    }

    &.upgrades {
      right: 2px;
    }
  }
}

.button {
  @include primary-button;

  &.disabled {
    @include primary-disabled-button;
  }
}

.main {
  padding: 0 16px;
}

.by-nft {
  margin: 14px auto 0;
  width: 100%;
  aspect-ratio: 378 / 160;
  display: block;
}

.title {
  @include h2;
  margin: 0;

  &-container {
    margin: 14px 0;
    display: flex;
  }
}

.counter {
  margin: 0 0 0 auto;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.01em;
}

.button-empty {
  width: 100%;
  @include primary-button;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  padding: 16px;
  background-color: $section;
  border-radius: 16px;
  position: relative;
  @include border-gradient;
}

.name {
  margin: 0 0 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 0.01em;
  text-align: center;
}

.nft {
  border-radius: 28px;
  display: block;
  width: 100%;
  aspect-ratio: 153 / 115;
  object-fit: cover;
}

.speed {
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #007aff;
  margin: 14px 0 16px;
}

.start {
  @include primary-button;

  & {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    padding: 11px;
  }

  &.stop {
    background: rgba(67, 120, 255, 0.1);
    color: #f00;
  }

  &.loading {
    @include loader-button;
  }
}

.upgrade {
  @include flex-layout(flex-start, center);
  gap: 11px;
  background-color: $section;
  padding: 21px 18px;
  border-radius: 16px;
  flex: 1;
  position: relative;
  margin-top: 14px;
  @include border-gradient;

  .info {
    flex: 1;
  }

  .title {
    font-size: 18px;
    margin: 0;
  }

  .price {
    margin: 4px 0;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
  }

  .text {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $primary;
  }

  .button {
    width: 107px;
    font-size: 15px;
    padding: 8px;
  }

  .amount {
    margin: 8px 0 0;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.01em;
  }
}

.toast {
  @include flex-column;
  align-items: center;

  .title {
    margin: 16px 0 10px;
  }

  .description {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #a2acb0;
    max-width: 270px;
  }

  .text {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 10px 0;
  }

  .speed {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;
    color: $primary;
    margin: 0;
  }

  .price {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0em;
    background: linear-gradient(49deg, #007aff 0%, #93c6ff 56%, #007aff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 16px 0 8px;
  }

  .button {
    width: 100%;

    &.loading {
      @include loader-button;
    }
  }
}
