.page {
  padding: 20px 24px;
}

.header {
  @include flex-center;
}

.buttons {
  @include flex-layout(flex-start, stretch);
  flex-wrap: wrap;
  gap: 8px 6px;
  margin: 24px 0;
}

.button {
  @include border-gradient(8px);
  width: calc(50% - 3px);
  color: #fff;
  background-color: $section;
  text-decoration-line: none;
  text-align: center;
  border-radius: 8px;
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: 0.01em;
  padding: 8px;
}

.title {
  @include h2;
  margin: 20px 0 16px;
}

.wallet {
  margin: 14px auto 0;

  button {
    border: 1px solid $primary;
    background-color: $section;
    color: #fff;
  }
}

.history {
  position: absolute;
  top: 20px;
  right: 20px;
}

.list {
  padding: 0;
  list-style: none;
  margin: 8px 0 0;

  li {
    opacity: 0;
  }
}
