.primary-button {
  @include primary-button;

  &.full {
    width: 100%;
  }

  &.loading {
    @include loader-button;

    &:after {
      animation: spin 1s infinite;
    }
  }

  &.disabled {
    @include primary-disabled-button;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
